.expense-item {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    align-items: center;
    width: -webkit-fill-available;
    box-shadow: 0 2px 8px rgba( 0, 0, 0, 0.25 );
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #4b4b4b;
}

.expense-item__description {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-flow: row;
    color: white;
}

.expense-item__price {
   
}
